input{
    font-size: 20px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: calc(1.5em + .55rem + 2px);
    padding: .175rem .75rem;
    &::placeholder{
          color: #80808080;
          font-size: 14px;
          padding: 5px;
    }
    &:focus-visible {
        outline:#bee5fa auto 1px;
    }
}
.form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
   //  border:1px solid red;
    .input_item{
         width: 100%;
         display: flex;
         margin:0 auto;
         align-items: center;
         flex-wrap: wrap;
         height:68px;
         padding: 0;
       //  border:1px solid red;
         label{
            width: 90px;
         }
         input{
            width: calc(100% - 90px);
         }
         .error_message{
            color:red;
            font-size: smaller;
            margin-left: 90px;
            height: 30px;
             width: 80%;
         }
         &.verification{
            input{
               width: 75%;
            }
            .codeBox{
               margin: auto 10px;
               letter-spacing: 7px;
            }
            .icon-spinner11{
               margin-left: 10px;
            }
         } 
    }
}
.error{
   border-color:red;
}

@media screen and (width<=1024px) { 
  .form .input_item.verification input {
    width: 60%;
   }
}
@media screen and (width<=991px) { 
  .form .input_item.verification input {
    width:50%;
   }
}
@media screen and (width<=640px) { 
  .form .input_item.verification input {
    width:40%;
   }
}
@media screen and (width<=600px) { 
  .form {
      width:90%;
  }
}
@media screen and (width<=480px) { 
  .form .input_item {
      flex-direction: column;
      label{
         width: 100%;
      }
      input {
         width: calc(100% - 0px);
      }
      &.verification{
          flex-direction: row;
          input {
            width: 70%;
         }
      }
  }
}