:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --default-color: hotpink;
    --bs-bg-color: #ffff;
    --bs-text-color: #808080;
    --bs-line-height: 1.5;
    --bs-font-weight: 400;
    --bs-font-size: 16px;
    --bs-font-family:"Mabry Pro","Noto Sans TC","微軟正黑體","Microsoft JhengHei","Heiti TC","黑體","Nunito Sans",sans-serif;
}
/*套用變數*/
body {
    margin: 0;
    font-family: var(--bs-font-family);
    font-size: var(--bs-font-size);
    font-weight: var(--bs-font-weight);
    line-height: var(--bs-line-height);
    color: var(--bs-dark-text-emphasis);
    background-color: var(--bs-bg-color);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
#app{
    overflow-x: hidden;
}
.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-4{
    margin-top: 20px;
}
.mt-5{
    margin-top: 25px;
}
main{
    width: 90%;
    max-width: 90%;
    margin: auto;
    overflow-x: hidden;
}
input{
    font-size: 20px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: calc(1.5em + .55rem + 2px);
    padding: .175rem .75rem;
    &::placeholder{
          color: #80808080;
          font-size: 14px;
          padding: 5px;
    }
    &:focus-visible {
        outline:#bee5fa auto 1px;
    }
}
.link,.btn{
    position: relative;
    padding: 6px 12px;
    border-radius: 5px;
    display: flex;
    width: 80px;
   align-self: center;
   justify-content: center;
    background-color: #4caf50;
     color:white;
    &:hover,&:focus{
        color:white;
         background-color: #338236;
    }
}
.cancel{
     background-color: #979897;
     &:hover,&:focus{
        color:white;
         background-color: #0e0e0e;
    }
}
.submit{
     background-color: #4caf50;
     &:hover,&:focus{
        color:white;
         background-color: #338236;
    }
    &.disabled{
        cursor: not-allowed;
        background-color: #7ab47c;
         &:hover,&:focus{
            color:white;
             background-color: #7ab47c;
        }
    }
}
button{
    position: relative;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #0dcaf0;
}
.card{
    display: flex;
    flex-direction: column;
    .search_content{
        align-items: center;
         display: flex;
        flex-direction: row;
        .from_control{
             display: flex;
            width: 60%;
            max-width: 60%;
            margin:auto 10px;
        }
    }
}
.hvr-underline-from-center{
    &:before {
        bottom: 12px;
    }
}
.nav{
    li{
        position: relative;
        height: 36px;
        a{
            display: inline-block;
            vertical-align: middle;
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 51%;
                right: 51%;
                bottom: -1px;
                background: #2098D1;
                height: 2px;
                transition-property: left, right;
                transition-duration: .3s;
                transition-timing-function: ease-out;
            }
            &:hover,&:focus,&:active{
                &::before{
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}
.isActive{
     a{
        border-bottom: 3px solid #2098D1;
        margin-bottom: 2px;
     }
}

.reserved{
    position: fixed;
    bottom: 0;
    display: block;
    text-align: center;

    height: 35px;
   line-height: 35px;
    color:white;
    background-color: #000;
    width: 100vw;
    max-width:100vw;
    z-index: 99;
}


.alert {
    position: fixed;
    z-index: 999;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: #1610108a;
    overflow-y: auto;
    .alert-main{
        background-color: #fff;
        margin: 100px auto;
        border-radius: 8px;
        padding: 25px;
        .alert-header{
            display: flex;
            justify-content: flex-end;
            i{
                display: flex;
                justify-content: flex-end;
            }
        }
        .alert-body{
            margin-top: 20px;
        }
    }
}
.btn {
    position: relative;
    padding: 6px 12px;
    margin: 25px auto auto;
}